/*
############################### FONT--FACES
*/
@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway/Raleway.eot');
    src: url('../fonts/Raleway/Raleway.eot?#iefix') format('embedded-opentype'), url('../fonts/Raleway/Raleway.woff') format('woff'), url('../fonts/Raleway/Raleway.ttf') format('truetype'), url('../fonts/Raleway/Raleway.svg#Raleway') format('svg');
}

/*
############################### CSS--RESET
*/
* {
    padding: 0;
    margin: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

/*
############################### MAIN-CSS
*/
body {
    -webkit-font-smoothing: antialiased;
    font-family: Raleway;
}

.mainContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("../media/bg.png");
    -webkit-filter: brightness(60%);
    -ms-filter: brightness(60%);
    filter: brightness(60%);
    transition: -webkit-filter 1s ease;
    transition: -ms-filter 1s ease;
    transition: filter 1s ease;
}

.content {
    min-height: 400px;
    width: 300px;
    border-radius: 5px;
    background: #f2f2f2;
    border: 1px #ccc solid;
    display: none;
}

/*
############################### TODOS-CONTENT
*/
.manageTodosButton {
    position: absolute;
    width: 100%;
    -webkit-transition: transform .5s;
    -moz-transition: transform .5s;
    -ms-transition: transform .5s;
    -o-transition: transform .5s;
    transition: transform .5s;

}

.todoInput {
    height: 50px;
    line-height: 50px;
    font-size: 22px;
    background-color: #fff;
}

.addTodoButton {
    height: 50px;
    font-size: 18px;
}

.todoList {
    font-size: 16px;
    min-height: 200px;
    margin-bottom: 50px;
    overflow-x: hidden;
}

.todoList li {
    height: 48px;
    line-height: 30px;
}

.cleanTodosButton {
    width: 100%;
}

.managementButtons {
    position: relative;
}

.revealCleanTodosButton {
    transform: translateY(-34px);
    -webkit-transition: transform .3s;
    -moz-transition: transform .3s;
    -o-transition: transform .3s;
    transition: transform .3s;
}

.exportTodosButton {
    width: 100%;
    height: 50px;
}

.removeTodoBtn {
    font-size: 13px;
    margin-top: -4px;
    margin-right: -10px;
    padding-top: 8px;
    opacity: 1;
}


.loadingAnimation {
    width: 40px;
    height: 40px;
    background-color: #666;
    position: fixed;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
}

/*
############################### KEY-FRAMES
*/
@-webkit-keyframes sk-rotateplane {
    0% {
        -webkit-transform: perspective(120px)
    }
    50% {
        -webkit-transform: perspective(120px) rotateY(180deg)
    }
    100% {
        -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg)
    }
}

@keyframes sk-rotateplane {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
    }
    50% {
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
    }
    100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}

/*
############################### BOOTSTRAP SETTINGS OVERWRITE
*/
input[type="text"]:focus {
    border-color: #ccc;
}

.mainContainer .content *:focus, *:active {
    outline: none;
}

.mainContainer .content button {
    border: 1px solid #ccc;
}

.mainContainer .content button:active, button:focus {
    background-color: white;
    border: 1px solid #ccc;
}
