<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <title>Todo App</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">
</head>
<body>

<div class="mainContainer" ng-controller="MainController">
    <div class="loadingAnimation"></div>

    <div class="content" ng-controller="MainController"
         ng-style="checkLengthOfTodoList() ? {'background':'#f2f2f2', 'border':'1px solid #ccc'} : {'background': 'transparent', 'border':'none'}">

        <div class='form-group'>

            <input ng-model="todoBody" type="text" placeholder="Your todo..." title="Write your todo and hit enter."
                   class="form-control todoInput"
                   ng-maxlength="25"
                   submit-enter="addTodo()" autofocus></input>

        </div>

        <ul class='list-group todoList'>
            <li ng-repeat='(id, todo) in todos' class='list-group-item'>
                {{ todo }}
                <button ng-click='removeTodo(id)' ng-show="todoManager"
                        class='btn btn-default pull-right removeTodoBtn'>&#10060;</button>
            </li>
        </ul>

        <div class='managementButtons' ng-show="checkLengthOfTodoList()">
            <button ng-click='todoManager = !todoManager' ng-model="clicked" class='btn btn-default manageTodosButton'>
                Manage todos
            </button>
            <button ng-click='cleanTodos()' class='btn btn-default cleanTodosButton'>Clean</button>
        </div>
        <button ng-click='exportTodos()' title="Your todos will stay even if the page is reloaded."
                ng-show="checkLengthOfTodoList()" class='btn btn-default exportTodosButton'>Save todos
        </button>

    </div>
</div>

<script src="js/jquery-3.1.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/angular-animate.min.js"></script>
<script src="js/scripts.js"></script>
<script>
    var app = angular.module('app', ['ngAnimate']);

    app.controller('MainController', ['$scope', '$http', '$log', function ($scope, $http, $log) {

        if (localStorage.todosData !== undefined) {
            $scope.todos = JSON.parse(localStorage.getItem("todosData"))
        } else {
            $scope.todos = [];
        }

        $scope.addTodo = function () {
            if ($scope.todoBody && $scope.todos.indexOf($scope.todoBody) == -1) {
                $scope.todos.push($scope.todoBody);
                $scope.todoBody = null;
            }
        };

        $scope.removeTodo = function (id) {
            $scope.todos.splice(id, 1);
        };

        $scope.cleanTodos = function () {
            $scope.todos = [];
            localStorage.clear();
        };

        $scope.exportTodos = function () {
            localStorage.clear();
            localStorage.setItem("todosData", JSON.stringify($scope.todos));
        };

        $scope.checkLengthOfTodoList = function () {
            return $scope.todos.length;
        }

    }]);

    app.directive('submitEnter', function () {
        return function (scope, element, attrs) {
            element.bind("keydown keypress", function (event) {
                if (event.which === 13) {
                    scope.$apply(function () {
                        scope.$eval(attrs.submitEnter);
                    });

                    event.preventDefault();
                }
            });
        };
    });

</script>
</body>
</html>